.profile {
  /* width: 40px; */
  /* height: 40px; */
  background-color: lawngreen;
  border-radius: 50%;
}

.imgurl {
  /* width: 40px; */
  /* height: 40px; */
  border-radius: 50%;
  object-fit: cover;
}
