.filterbtn {
  padding: 0.5rem;
  background-color: #98ceff;
  font-weight: bold;
  border: none;
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
}

.filterbtn:hover {
  background-color: #b1ddf9;
  /* color: whitesmoke; */
}

.filterdiv {
  display: flex;
  justify-content: space-around;
  /* width: 200px; */
  max-width: 500px;
}
