.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
}

.modal {
  background-color: white;
  /* height: 21rem; */
  /* background-color : rgba(240,240,240,0.9); */
  /* background-color: whitesmoke; */
  width: 100%;
  max-width: 15rem;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
