.addpost {
  display: flex;
  gap: 1rem;
}

.addpostcontainer {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  /* width: 350px; */
  padding: 0.8rem;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
}

.userprofile {
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-radius: 50%;
}

.adddata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postlogo {
  margin: 0 10px;
  font-size: 18px;
}

.textarea {
  padding: 4px;
  border: none;
  font-family: sans-serif;
}

.button {
  padding: 0.5rem;
  background-color: deeppink;
  color: whitesmoke;
  font-weight: bold;
  border: none;
  font-size: 16px;
}
