.addpost {
  display: flex;
  gap: 1rem;
}

.addpostcontainer {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  /* width: 350px; */
  padding: 0.8rem;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}

.userprofile {
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-radius: 50%;
}

.adddata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postlogo {
  margin: 0 10px;
  font-size: 18px;
}

.textareadiv {
}

.textarea {
  padding: 4px;
  border: none;
  font-family: sans-serif;
  resize: none;
  width: 250px;
  height: 120px;
  outline: none;
  background-color: #ebebeb;
  padding: 1rem;
}

.button {
  padding: 0.5rem;
  background-color: rgb(30, 130, 188);
  color: whitesmoke;
  font-weight: bold;
  border: none;
  font-size: 16px;
}

.emojibtn {
  background-color: white;
  border: none;
}

.emojidiv {
  position: absolute;
  bottom: -450px;
  z-index: 99;
  width: 280px;
  display: block;
}

.emojidivdesk {
  position: absolute;
  bottom: -450px;
  z-index: 99;
  width: 280px;
  display: none;
}

.emojicontainer {
  /* width: 280px; */
  display: block;
}

.emojicontainerdesktop {
  display: none;
}

.inputurl {
  display: none;
}

.ligththeme {
  background-color: whitesmoke;
  color: black;
}

.darktheme {
  color: whitesmoke;
  background-color: black;
}

.darkthemetext {
  color: whitesmoke;
  background-color: rgb(46, 49, 50);
}

@media screen and (min-width: 768px) {
  .emojicontainer {
    /* width: 280px; */
    display: none;
  }

  .emojicontainerdesktop {
    display: black;
  }

  .emojidiv {
    display: none;
  }

  .emojidivdesk {
    display: block;
  }
}
