.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.item3 {
  max-height: 660px;
  z-index: 2;
  overflow-x: hidden;
}

.homecontainer {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main right"
    "footer footer footer footer footer footer";
  gap: 10px;
  padding: 10px;
}

.item4 {
}

.lighttheme {
  background-color: white;
}

.darktheme {
  color: whitesmoke;
  background-color: black;
}

.homecontainer {
  text-align: center;
  width: 100vw;
}

/* Track */
::-webkit-scrollbar {
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Border radius of the scrollbar handle */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1; /* Color of the scrollbar track on hover */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar handle on hover */
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Color of the scrollbar corner */
}
