Generic Styles * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login_container {
  border: 2px solid;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login_form_container {
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "email"
    "message"
    "button";
  gap: 1.6rem;
}

.guest_login {
  width: 100%;
  padding: 0 16px;
}

.guest_login_container {
  padding: 0 2rem;
}

#name-block {
  grid-area: name;
}

#email-block {
  grid-area: email;
}

#password-block {
  grid-area: message;
}

.login_button {
  grid-area: button;
}

.login_button {
  border: none;
  display: inline-block;
  padding: 0.75rem 2.25rem;
  border-radius: 30px;
  background-color: #90e0ef;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
}

.login_input {
  margin-top: 0.3rem;
  padding: 0.6rem;
  border: solid 1px #bbb;
  border-radius: 5px;
  width: 100%;
  resize: none;
  color: #333;
}

.login_label {
  display: block;
}

.login_container {
  max-width: 30rem;
  margin: auto;
  padding: 1rem;
  border: solid 1px #ddd;
  color: #333;
}

.login_half {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 530px) {
  .login_form_container {
    padding: 2rem;
  }

  .login_container {
    padding: 2rem;
    max-width: 40rem;
  }
}
