.container {
  margin: 0 auto;
  width: 300px;
  /* text-align: center; */
}

.postcard {
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
  padding: 0.3rem;
  margin: 1rem;
  /* text-align: center; */
  position: relative;
}

.addpost {
  padding: 0.3rem;
  margin: 1rem;
}

.postdate {
  font-size: 10px;
}

.username {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  align-items: center;
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profilebtn {
  border: none;
  background-color: white;
  font-size: 18px;
}

.bottomlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-top: 1rem;
}

.likelogo {
  display: flex;
  gap: 10px;
  margin: 6px;
}
.heart {
  font-size: 21px;
}

.editpostcontainer {
  width: 80px;
  margin: 2px;
  padding: 2px;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.editbtn,
.deletebtn {
  font-size: 18px;
  background-color: white;
  padding: 3px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.likedLogo {
  fill: red;
  color: red;
}

.btn {
  border: none;
  background-color: white;
}

.editbtn {
  border-bottom: 1px solid #d3d3d3;
}

.show {
  position: absolute;
  top: 25px;
  right: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 360px;
  }

  .show {
    position: absolute;
    top: 35px;
    right: -60px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 450px;
  }
}
