* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarcontainer {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  /* width: 100vw; */
}

.navprofilebtn {
  background-color: whitesmoke;
  border: none;
}

.addpostnav {
  background-color: whitesmoke;
  border: none;
}

.navdiv {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: space-around; */
  position: relative;
}

.navend {
  position: absolute;
  /* bottom: 10px; */
}

.navlogocontainer {
  border-radius: 24px;
  color: #00376b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  font-size: 20px;
  line-height: 18px;
  margin: 15px 0px;
  /* padding: 12px; */
  width: auto;
}

.navlink {
  text-decoration: none;
  text-align: start;
}

.hidenavbar {
  display: none;
}

.navlogoname {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbarcontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: sticky;
    left: 0;
  }

  .modal {
    max-width: 30rem;
  }

  .navlogoname {
    display: inline-block;
  }

  .hidenavbar {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
}
