* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarcontainer {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 3px;
  margin: 3px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  width: 100vw;
}

.navprofilebtn {
  background-color: whitesmoke;
  border: none;
}

.addpostnav {
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
}

.navdiv {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: space-around; */
  /* position: relative; */
}

.navend {
  position: absolute;
  /* bottom: 10px; */
}

.navlogocontainer {
  border-radius: 24px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  font-size: 20px;
  line-height: 18px;
  margin: 20px 0px;
  /* padding: 12px; */
  width: auto;
}
.navprofilebtn {
  cursor: pointer;
}

.logout {
  border-radius: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  font-size: 20px;
  line-height: 18px;
  margin: 15px 0px;
  /* padding: 12px; */
  width: auto;
  border: none;
  background-color: whitesmoke;
  /* margin-top: 8rem; */
}

.navlink {
  text-decoration: none;
  text-align: start;
  color: black;
}

.hidenavbar {
  display: none;
}

.hidelogout {
  display: none;
}

.navlogoname {
  display: none;
}

.ligththeme {
  background-color: white;
  color: black;
}

.darktheme {
  color: whitesmoke;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .navbarcontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: sticky;
    left: 0;
    width: auto;
    z-index: 0;
  }

  .hidelogout {
    display: block;
  }

  .navlogoname {
    font-size: 14px;
  }

  .logout {
    margin-top: 15rem;
  }

  .modal {
    max-width: 30rem;
  }

  .navlogoname {
    display: inline-block;
  }

  .hidenavbar {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .navlogoname {
    font-size: 18px;
  }
}
