.searcheddiv {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 10px;
  padding: 6px;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
}

.searchbtn {
  border: none;
}

.imagediv {
  margin-left: 0.8rem;
}

.ligththeme {
  background-color: whitesmoke;
  color: black;
}

.darktheme {
  color: whitesmoke;
  background-color: black;
}

.username {
  margin: 0;
}
