.topnavcontainer {
  align-items: center;
  background-color: #fffffa;
  color: #2d2d3a;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  /* border: 2px solid; */
  padding: 3px;
  position: relative;
}

.hidelogo {
  display: none;
}

.topnavprofilebtn {
  /* background-color: #fffffa; */
  border: none;
  cursor: pointer;
}

.lightmode {
  font-size: 18px;
}

.ligththeme {
  background-color: whitesmoke;
  color: black;
}

.darktheme {
  color: whitesmoke;
  background-color: black;
}

.searchednav {
  width: 260px;
  max-width: 100%;
  max-height: 200px;
  background-color: whitesmoke;
  position: absolute;
  top: 50px;
  right: 40%;
  z-index: 2;
  overflow-x: hidden;
  border-radius: 1rem;
}

.topnavsearchbar {
  width: 260px;
  max-width: 400px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.topnavprofile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lightmode {
  cursor: pointer;
  background-color: white;
  border: none;
}

.instagram {
  font-size: 18px;
}

.topnavlogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  text-align: center;
}

.hidelogo {
  align-self: center;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .hidelogo {
    display: block;
  }
}
