.usercontainer {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid; */
  margin: 4px;
  padding: 4px;
}

.suggestioncontainer {
  display: none;
  width: 250px;
  margin: 4px;
  padding: 4px;
  background-color: whitesmoke;
}

.suggestbtn {
  background-color: whitesmoke;
  border: none;
}

.namediv {
  text-align: start;
}

.profileimg {
  width: 40px;
  height: 40px;
  background-color: lightgreen;
  border-radius: 50%;
}

.suggestedUser {
  margin-top: 1rem;
  /* display: flex; */
  max-height: 380px;
  overflow-x: hidden;
  z-index: 99;
}

.userprofile {
  display: flex;
  gap: 1rem;
}

.followbtn {
  background-color: whitesmoke;
  border: none;
  font-weight: bolder;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .suggestioncontainer {
    display: block;
  }
}
