.suggestioncontainer {
  display: none;
  width: 250px;
  margin: 4px;
  padding: 4px;
  background-color: white;
  scroll-behaviour: smooth;
}

.namediv {
  text-align: start;
}

.suggestedUser {
  margin-top: 1rem;
  max-height: 380px;
  overflow-x: hidden;
  z-index: 99;
}

.ligththeme {
  background-color: white;
  color: black;
}

.darktheme {
  color: whitesmoke;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .suggestioncontainer {
    display: block;
  }
}
