.profilecontainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  width: 280px;
  /* gap: 5px; */
  padding: 1rem;
  margin: 0 auto;
  text-align: start;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.userpostdiv {
  width: 280px;
  margin: 0 auto;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  /* width: 70%; */
}

.username {
  font-weight: bolder;
}

.website {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin: 5px;
}

.friend {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  margin-top: 5px;
}

.followbtn {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  /* text-transform: uppercase; */
  color: #ffffff;
  background-color: #70b1ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editprofile {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  /* text-transform: uppercase; */
  color: #ffffff;
  background-color: #70b1ff;
  border: none;
  border-radius: 4px;
  /* box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  margin: 2px;
}

.followbtn:hover,
.editprofile:focus {
  background-color: #98ceff;
}

.followbtn:focus,
.editprofile:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #3897f0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 99;
}

.showpic {
  background-color: white;
  border: none;
}

.modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.modals {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 50%;
}

.logout {
  /* display: inline-block; */
  padding: 2px 4px;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  /* background-color: white; */
  background-color: #d32f2f;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

.logout:hover {
  background-color: #d32f2f;
  color: white;
  padding: 6px 10px;
}

.logoutlogo {
  /* font-weight: bolder; */
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .profilecontainer {
    width: 360px;
    font-size: 16px;
  }

  .userpostdiv {
    width: 360px;
  }

  .website {
    /* flex-direction: row; */
    /* justify-content: space-between; */
  }

  .friend {
    font-size: 16px;
  }

  .logout,
  .editprofile {
    padding: 4px 8px;
  }
}

@media screen and (min-width: 1024px) {
  .profilecontainer {
    width: 450px;
    /* padding: 0 auto; */
  }

  .userpostdiv {
    width: 450px;
  }
}
