.usercontainer {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 4px;
}

.suggestbtn {
  background-color: white;
  border: none;
}

.namediv {
  text-align: start;
}

.profileimg {
  width: 40px;
  height: 40px;
  background-color: lightgreen;
  border-radius: 50%;
}

.userprofile {
  display: flex;
  gap: 1rem;
}

.followbtn {
  background-color: white;
  border: none;
  font-weight: bolder;
  font-size: 16px;
}

.ligththeme {
  background-color: white;
  color: black;
}

.darktheme {
  color: whitesmoke;
  background-color: black;
}
